body {
background-color: #292900;

}

.flex-container-1 {
    background-color: #505000;     
border: 2px dashed #008b8b;
display: flex;

}

.flex-container-1 .flex-item {
border: 2px dashed #292900;
margin: 10px;


}

.flex-container-2 {
    background-color: #505000;     
border: 2px dashed #008b8b;
display: flex;
width: 240px;
height: 180px;
}

.flex-container-2 .flex-item {
    border: 2px dashed #292900;
    margin: 10px;
    
    
    }
    
    .flex-container-3 {
        background-color: #505000;     
    border: 2px dashed #008b8b;
    display: flex;
    flex-direction: column-reverse;
height: 500px;
    
}
    
    .flex-container-3 .flex-item {
        border: 2px dashed #292900;
        margin: 10px;
        
        
        }
        

        .flex-row {
          flex-direction: row;

        }

        .flex-row-reverse {
            flex-direction: row-reverse;

        }

        .flex-column {
            flex-direction: column;

        }
        .flex-column-reverse {
    flex-direction: column-reverse;
    
        }